// стиль шрифта шапки
%font
	color: $color-text-button		
	text-shadow: 0px 1px 0px #006d8f
	text-align: center
// текст в ленте	
%tape
	color: $color-text-button
	+fs("Open Sans", 700)
	font-style: italic	
	padding-top: 30px
	text-align: center
	text-shadow: 0px 1px 6px #006d8f	
//title	
.title
	+fs("Karma", 600)
	font-size: 57px
	color: $color-text-h2
	line-height: 1.1
	+r(1199)
		font-size: 50px
	+r(767)
		font-size: 36px	
	&_bordo
		color: $color-text-sect2		
//  form	 
.block-form
	+s(form)
	position: relative
	&__in
		position: relative
		z-index: 11
	&__title
		+fs("Karma", 700)	
		font-size: 29px			
		padding: 15px 20px 0 
		text-transform: uppercase
		@extend %font		
	&__price
		@extend %font
		+fs("Roboto", 300)
		div 
			display: inline-block	
		.old
			font-size: 45px
			position: relative
			display: inline-block
			&:before,
			&:after
				content: ''
				display: block
				position: absolute
				width: 120%
				border-bottom: 1px solid #fff
				top: 50%
				left: 50%
				margin: 0 0 0 -30px
			&:before
				+rotate(45)
			&:after
				+rotate(-45)
			&__small
				font-size: 30px	
				display: inline-block															
		.new
			font-size: 70px
			display: inline-block			
			&__small
				font-size: 50px 
				display: inline-block
				padding-left: 20px				
	&__form
		width: 220px		
		margin: 0 auto 	
		text-align: center
		padding-top: 18px
		+fs("Open Sans", 400)
		select
			display: none			
		input
			border: 1px solid #ccc
			border-radius: 5px	
			width: 100%
			color: $color-text2
			padding: 10px 0 10px 13px				
			margin-top: 13px
			&:focus
				border-color: #53cdfc
		button
			margin-top: 22px
		label
			display: none		
	&-wraper
		position: relative		
	&__bottom-img
		+s(form-bottom)
		margin: 15px auto 0	
	.error
		border: 1px solid red
		padding-top: 16px
		padding-bottom: 4px
		display: block		
		+ label
			color: red	
			position: absolute
			left: 13px
			bottom: 22px
			display: block 	
			font-size: 12px
// style button	 
.button	
	display: inline-block
	text-align: center
	border: 2px solid #d05800
	border-radius: 4px
	width: 220px
	padding: 13px 0	
	+g(#ffd800, #ff5a00)	
	text-transform: uppercase
	color: $color-text-button		
	+fs("Open Sans", 600)
	font-size: 17px
	cursor: pointer
	span
		position: relative
		margin-left: -3px
		transition: all 0.5s
	i
		position: absolute
		left: 100%
		margin-left: 6px
		top: 50%
		transform: translateY(-50%)
		display: block
	&__ico
		+s(arrow)
		margin-left: -5px
		position: relative
		transition: margin 0.5s
		&:before
			content: ''
			display: block
			position: absolute
			right: 0
			top: 50%
			margin-top: -1px
			+s(arrow-hover)
			width: 0
			transition: right 0.5s, width 0.5s
	&_small
		width: 138px
		font-size: 14px
		padding: 8px 0	
		line-height: 17px
	&:hover	
		+rm(992)
			background: #ff4800
		span
			+rm(992)
				margin-left: -10px
		.button__ico
			+rm(992)
				margin-left: 15px
				&:before
					width: 13px
					right: 3px
				
	&:active
		background: #4acb4a
		border-color: #3c9a3c
		+rm(992)
			background: #4acb4a
		.button__ico
			&:before
				display: none
			+s(check)
			
.btn-expand
	color: $color-text-h2
	+fs("Open Sans", 600)
	display: block	
	width: 100px	
	position: relative
	padding-bottom: 44px	
	text-align: center
	z-index: 2
	&::before
		content: ""
		display: block
		+s(arrow-bottom)
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
	&::after
		content: ""
		display: block
		width: 310px
		height: 37px		
		background-image: url("../img/bg-btn-bottom.png")
		position: absolute
		bottom: -15px
		left: 50%
		transform: translateX(-50%)
.btn-mobile-menu
	width: 45px
	height: 45px
	background-color: #53cdfc
	border-radius: 23px
	display: none
	position: fixed	
	box-shadow: 0px 0px 25px 20px rgba( 255, 255, 255, 0.74 )
	right: 10px	
	top: 10px
	z-index: 200	
	font-size: 0
	text-indent: -9999px
	appearance: none	
	cursor: pointer
	transition: background 0.3s
	+r(767)
		display: block	
	span
		display: block
		position: absolute		
		height: 2px
		left: 10px
		right: 10px
		top: 22px
		background: white
		&::before,
		&::after
			position: absolute
			display: block
			left: 0
			width: 100%
			height: 2px
			background-color: white
			content: ""
		&::before
			top: -9px	
		&::after
			bottom: -9px	
.btn-close
	width: 30px
	height: 30px
	cursor: pointer
	&::before,
	&::after
		width: 35px
		height: 2px
		content: ""
		display: block
		position: absolute
		background-color: #53cdfc
		top: 50%
		left: 0					
	&::before		
		transform: rotate(45deg)
	&::after		
		transform: rotate(-45deg)