// стиль шрифта шапки
%font
	color: $color-text-button		
	text-shadow: 0px 1px 0px #006d8f
	text-align: center
// текст в ленте	
%tape
	color: $color-text-button
	+fs('Open Sans', 700)
	font-style: italic	
	padding-top: 30px
	text-align: center
	text-shadow: 0px 1px 6px #006d8f	
//title	
.title
	+fs('Karma', 600)
	font-size: 57px
	color: $color-text-h2
	line-height: 1.1
	+r(1199)
		font-size: 50px
	+r(767)
		font-size: 36px	
	&_bordo
		color: $color-text-sect2		
//  form	 
.block-form
	width: 255px
	height: 491px
	background: url("../img/form.png")
	position: relative
	&__in
		position: relative
		z-index: 11
	&__title
		+fs('Karma', 700)	
		font-size: 29px			
		padding: 15px 20px 0 
		text-transform: uppercase
		@extend %font		
	&__price
		@extend %font
		+fs('Roboto', 300)
		.al-cost
			font-size: 45px
			background: url("../img/form-price.png") no-repeat center
		.al-cost-promo
			font-size: 70px
	&__form
		width: 220px		
		margin: 18px auto 0	
		text-align: center
		+fs('Open Sans', 400)
		select
			display: none
		input
			border: 1px solid #ccc
			border-radius: 5px	
			width: 100%
			color: $color-text1
			padding: 11px 0 11px 13px				
			margin-top: 13px
		button
			margin-top: 22px	
	&__bottom-img
		width: 220px
		height: 39px
		background: url("../img/form-bottom.png") no-repeat		
		margin: 15px auto 0	
// style button	 
.button	
	display: inline-block
	text-align: center
	border: 2px solid #d05800
	border-radius: 4px
	min-width: 220px
	padding: 13px 0	
	+g(#ffd800, #ff5a00)	
	text-transform: uppercase
	color: $color-text-button		
	+fs('Open Sans', 600)
	font-size: 17px
	cursor: pointer
	&_small
		min-width: 138px
		font-size: 14px
		padding: 8px 0	
		
.btn-expand
	color: $color-text-h2
	+fs('Open Sans', 600)
	display: block	
	width: 100px	
	position: relative
	padding-bottom: 44px	
	text-align: center
	&::before
		content: ''
		display: block
		width: 36px
		height: 36px		
		background-image: url("../img/ico-button.png")
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%) 

.container
	border: 1px solid red
	&::after
		content: ''
		display: block
		width: 310px
		height: 37px		
		background-image: url("../img/bg-btn-bottom.png")
		position: absolute
		bottom: -15px
		left: 50%
		transform: translateX(-50%) 	