<nav class="navbar">
	 <span class="btn-close navbar__close"></span>     
	<div class="navbar-contain container">	
		<a class="js-scroll js-mob-menu-scroll" href="#top-drops"><span class="navbar-logo col-sm-2" ></span></a>
		<ul class="navbar-menu col-md-8 col-sm-7" id="fixed-nav">
			<li class="is-active"><a class="js-scroll js-mob-menu-scroll" href="#top-drops">Main page</a></li>
			<li><a class="js-scroll js-mob-menu-scroll" href="#better"> Чем лучше? </a></li>
			<li><a class="js-scroll js-mob-menu-scroll" href="#effective">Состав</a></li>
			<li><a class="js-scroll js-mob-menu-scroll" href="#expert">Эксперт</a></li>
			<li><a class="js-scroll js-mob-menu-scroll" href="#guarant">Гарантия</a></li>
		</ul>
		<div class="wrar-buttom col-sm-2">
			<a class="button button_small js-scroll js-to-form js-mob-menu-scroll" href="#order">
				<span>Заказать<i class="button__ico"></i></span>
			</a>
		</div>	
	</div>
</nav>