<section class="drops" id="top-drops">
	<div class="drops-contain container">
	
		<span class="btn-mobile-menu"><span></span></span>

		<!-- BEGIN drops-content -->
		<div class="drops-content col-lg-8 col-md-10 col-sm-12">

			<!-- BEGIN drops-content__left -->
			<div class="drops-content__left">
				<h5>NikoStop Antistress</h5>
				<h2 class="title">Drops for easy quitting smoking</h2>
				<ul class="drops-list">
					<li class="drops-list__item">Полное избавление<br> от курения за 1 курс</li>
					<li class="drops-list__item">Без стресса, гнева<br>  и раздражения </li>
					<li class="drops-list__item drops-list__item_none">Даже для самых заядлых курильщиков</li>
				</ul>
				<span>
					Надежные и эффективные капли, которые помогают быстро и безболезненно перейти в NO-SMOKING режим
				</span>
			</div>
			<!-- END drops-content__left -->

			<!-- BEGIN drops-content__right -->
			<div class="drops-content__right">
				<div class="drops-qt">
					Осталось упаковок<span> по акции</span>
					<div class="drops-counter js-counter">83</div>
				</div>
				<div class="block-form">
					<div class="block-form__in">
						<h4 class="block-form__title">Start a free life now!</h4>
						<div class="block-form__price">
						 	<div>
								<span class="old__small al-raw-currency">$</span><span class="old al-raw-cost">50</span>
							</div>
							<div>
								<span class="new__small al-raw-currency">$</span><span class="new al-raw-cost-promo">25</span>
							</div>
						</div>
						<form action="/land/order" class="block-form__form al-form" method="post">
							<select name="country" class="al-country" >
								<option value="" selected></option>
							 </select>
							<div class="block-form-wraper">
					       		<input type="text" name="name" id="name" placeholder="Name">
					       		<label for="name"></label>
					        </div>
					        <div class="block-form-wraper">
					        	<input type="tel" name="phone" id="phone"  placeholder="Phone Number">
					        	<label for="phone"></label>
							</div>
			                <button class="button js-btn js-navbar-show" type="submit">
			        			<span>Заказать<i class="button__ico"></i></span>
			                </button>
						</form>
						<div class="block-form__bottom-img"></div>	
					</div>
				</div>
			</div>
			<!-- END drops-content__right -->

		</div>
		<!-- END drops-content -->

		<!-- BEGIN drops-product -->
		<div class="drops-product">
			<a class="drops-product__link js-scroll" href="#guarant">Guarantee</a>
		</div>
		<!-- END drops-product -->
		
	</div>
</section>
