<section class="effective" id="effective">
	<ul class="parallax-list container" id="scene-1" data-invert-x="false" data-invert-y="false" data-relative-input="true">
		<li class="parallax-list__item parallax-list__item_1" data-depth="0.08">
			<img src="img/sections/4/dropsback.png" alt="">
		</li>
		<li class="parallax-list__item parallax-list__item_2" data-depth="0.10">
			<img src="img/sections/4/backelements.png" alt="">
		</li>
	</ul>
	<ul class="parallax-list container" id="scene-2">
		<li class="parallax-list__item parallax-list__item_4" data-depth="0.40">
			<img src="img/sections/4/triptofan.png" alt="">
		</li>
	</ul>
	<ul class="parallax-list parallax-list_front container" id="scene-3">
		<li class="parallax-list__item parallax-list__item_5" data-depth="0.40">
			<img src="img/sections/4/FrontElements.png" alt="">
		</li>
		<li class="parallax-list__item parallax-list__item_3" data-depth="0.90">
			<img src="img/sections/4/front.png" alt="">
		</li>
	</ul>
	<div class="effective-contain container">
		<h2 class="title">What makes NikoStop <br> so effective?</h2>
		<div class="effective-items">
			<div class="effective-bl effective-bl_1">
				<div class="effective-bl__title">Витамины B1 + B3</div>
				<div class="effective-bl__text">
					Обеспечивают оптимальную активность нервной системы, улучшают работу мозга, нормализуют работу всех систем организма. Помогают устранить болезненную тягу к сигаретам.
				</div>
			</div>
			<div class="effective-bl effective-bl_2">
				<div class="effective-bl__title">Боярышник</div>
				<div class="effective-bl__text">
					Предотвращает старение сосудов, улучшает кровообращение, нормализует работу сердца и мозга, успокаивающе действует на нервную систему, оздоравливает весь организм.
				</div>
			</div>
			<div class="effective-bl effective-bl_3">
				<div class="effective-bl__title">Витамин B6</div>
				<div class="effective-bl__text">
					Участвует в синтезе серотонина, повышает иммунитет, улучшает работу сердечно-сосудистой системы, снижает риск инсультов и инфарктов миокарда, способствует улучшению настроения.
				</div>
			</div>
			<div class="effective-bl effective-bl_4">
				<div class="effective-bl__title">Триптофан</div>
				<div class="effective-bl__text">
					Незаменимая аминокислота, химический секрет радости. Обеспечивает хорошее настроение, спокойствие, здоровый и качественный сон.
				</div>
			</div>
			<div class="effective-bl effective-bl_5">
				<div class="effective-bl__title">Мелисса</div>
				<div class="effective-bl__text">
					Прекрасно помогает против стресса, нервозности и депрессии, вызванных отсутствием никотина, улучшает память и концентрацию внимания.
				</div>
			</div>
			<div class="effective-bl effective-bl_6">
				<div class="effective-bl__title">Лаванда</div>
				<div class="effective-bl__text">
					Мощный адаптоген, помогает легко привыкнуть к жизни без сигарет. Очищает организм от токсинов. Защищает от перепадов настроения, повышает концентрацию и работоспособность.
				</div>
			</div>
		</div>
		<div class="e-dropdown">
			<ul class="e-list">
				<li class="e-list__item e-list__item_1">
					<div class="e-list__title">Витамины B1, B3, B6</div>
					<div class="e-list__text">
						Обеспечивают оптимальную активность нервной системы, устраняют синдром отмены курения, улучшают работу мозга, оздоравливают организм.
					</div>
				</li>
				<li class="e-list__item e-list__item_2">
					<div class="e-list__title">Боярышник</div>
					<div class="e-list__text">
						Мощный адаптоген, помогает организму привыкнуть к жизни без сигарет, укрепляет иммунитет, повышает концентрацию и работоспособность.
					</div>
				</li>
				<li class="e-list__item e-list__item_3">
					<div class="e-list__title">Триптофан</div>
					<div class="e-list__text">
						Незаменимая аминокислота, химический секрет радости. Обеспечивает хорошее настроение, спокойствие, здоровый и качественный сон.
					</div>
				</li>
				<li class="e-list__item e-list__item_4">
					<div class="e-list__title">Мелиса</div>
					<div class="e-list__text">
						Прекрасно помогает против стресса, нервозности и депрессии, вызванных отсутствием никотина, улучшает память и концентрацию внимания.
					</div>
				</li>
				<li class="e-list__item e-list__item_5">
					<div class="e-list__title">Лаванда</div>
					<div class="e-list__text">
						Укрепляет и защищает нервную систему, помогает очищать легкие, загрязненные в результате курения, выводит из организма токсины.
					</div>
				</li>
			</ul>
		</div>
		<div class="e-dropdown__bottom">
			<a href="#" class="btn-expand js-dropdown">Подробнее</a>
			<div class="shadow"></div>
		</div>
	</div>
</section>