<footer class="footer">
	<div class="footer__title">Ottieni rapidamente il tuo NikoStop</div>
	<ul class="footer-list">
		<li class="footer-list__item footer-list__item1">Spedizione dell`ordine in stesso giorno</li>
		<li class="footer-list__item footer-list__item2">Consegna in tutta Italia </li>
		<li class="footer-list__item footer-list__item3">Il pagamento dopo controllo dell`ordine</li>
	</ul>
	<div class="footer__copyright">Copyright© 
		<span>
			<script type="text/javascript">							
				document.write( new Date().getFullYear());
			</script>
		</span> 
		<a href="https://terraleads.com">Terraleads®</a>.
		<span class='footer__bottom'> All rights reserved.</span>
	</div>
</footer>