<section class="guarantee" id="guarant">
	<div class="guarantee-contain container">
		<h2 class="title">
			Others promise — <br>
			<span class="uppercase">we</span> give a <span class="uppercase">guarantee</span>
		</h2>		
		<div class="guarantee-block col-md-12">
			<div class="guarantee-block__img ">
				<img src="img/sections/8/sect8-product.png">
			</div>
			
			<ul class="guarantee-block-tape">
				<li class="guarantee-block-tape__item1"></li>
				<li class="guarantee-block-tape__item2"></li>
				<li class="guarantee-block-tape__item3"></li>
			</ul>
			<div class="guarantee-block__text col-md-7">
				<p>
					Мы уверены в качестве нашего продукта! И мы не разбрасываемся пустыми обещаниями. Если в течение 30 дней капли NikoStop вам не помогут, мы вернем вам деньги. 
				</p>
				<a class="modal_button" href="#modal_button">Детальнее о условиях возврата</a>	
			</div>
			<a class="button js-to-form js-scroll" href="#order"><span>Заказать<i class="button__ico"></i></span></a>
		</div>		
	</div>
</section>
