<section class="negative" >
	<div class="negative-contain container">
		<h2 class="negative__title title title_bordo col-md-5">Why can not<br>I quit smoking?</h2>
		<ul class="negative-list" >
			<li class="negative-list__item negative-list__item_1">
				<span>Отчаяние</span>
			</li>
			<li class="negative-list__item negative-list__item_2">
				<span>Растерянность</span>
			</li>
			<li class="negative-list__item negative-list__item_3">
				<span>Страх</span>
			</li>
			<li class="negative-list__item negative-list__item_4">
				<span>Стресс</span>
			</li>
			<li class="negative-list__item negative-list__item_5">
				<span>Раздражение</span>
			</li>
		</ul>
		<h2 class="negative__title-bottom title">So it was<br> before!</h2>
		<a class="negative__btn button js-scroll js-to-form" href="#order">
			<span>Заказать<i class="button__ico"></i></span>
		</a>
	</div>
</section>