<section class="better">
	<div class="graf-container">
		<div class="container">
			<div class="graf">
				<style type="text/css">
					.st0{opacity:0.3;fill:none;stroke:#516269;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;enable-background:new;}
					.st1{opacity:0.3;fill:none;stroke:#516269;stroke-width:8.2754;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;enable-background:new;}
					.st2{opacity:0.3;fill:none;stroke:#516269;stroke-width:8.7203;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;enable-background:new;}
					.st3{fill:none;stroke:#FFFFFF;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st4{fill:none;stroke:#DE9090;stroke-width:8.2754;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st5{fill:#FFFFFF;stroke:#DE9090;stroke-width:9.2857;stroke-miterlimit:10;}
					.st6{fill:none;stroke:#E8B07D;stroke-width:8.7203;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
					.st7{fill:#FFFFFF;stroke:#E8B07D;stroke-width:9.2857;stroke-miterlimit:10;}
					.st8{fill:#28AAE2;}
					.st9{fill:none;stroke:#FFFFFF;stroke-width:14.4545;stroke-miterlimit:10;}
				</style>
						
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 1231.7 328.7" style="enable-background:new 0 0 1231.7 328.7;" xml:space="preserve">
					<path class="st2" d="M5.2,69.5c0,0,229.7-36.1,491.1,121.9C737.5,337.2,851.2,318.8,1227,324.1"/>
					<path class="st6" d="M5.2,65.5c0,0,229.7-36.1,491.1,121.9C737.5,333.2,851.2,314.8,1227,320.1"/>
					<path class="st1" d="M5,125.3c0,0,310.5-60.4,564.5,38.9s476,149.8,658,157.2"/>
					<path class="st4" d="M5,121.3c0,0,310.5-60.4,564.5,38.9s476,149.8,658,157.2"/>
				</svg>

				<div class="other-points">
					<div class="point point-orange"></div>
					<div class="point point-red"></div>
					<div class="tooltip-outer tooltip-other-outer">
						<div class="tooltip-inner tooltip-other-inner">
							<span>Эффективность других средств</span>
						</div>
					</div>
				</div>

				<div class="our-bg"></div>

				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 1231.7 328.7" style="enable-background:new 0 0 1231.7 328.7;" xml:space="preserve">
					<path class="st0" d="M9,233.4c0,0,387.3,28.1,612.7-38.8C811,138.4,909.3-0.6,1223.9,16.4"/>
					<path class="st3" d="M9,226.4c0,0,387.3,28.1,612.7-38.8C811,131.4,909.3-7.6,1223.9,9.4"/>
				</svg>

				<div class="point our-point">
					<div class="tooltip-outer tooltip-our-outer">
						<div class="tooltip-inner tooltip-our-inner">
							<span>NikoStop Antistress помогает избавиться от курения за 1 курс</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row overflow">
			<div class="col-xs-12">
				<h2 class='title'>Why NikoStop is better?</h2>
				<span>Сравнение эффективности средств от курения</span>
			</div>
		</div>
		<div class="row content">
			<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-3">
				<img src="img/sect3/nikostop.png" alt="NikoStop" class="product">
			</div>
			<div class="col-md-4 right col-sm-5">
				<p>Обычные средства от курения и заменители никотина НЕ помогают человеку справиться со стрессом и дискомфортом, которые возникают при отказе от курения.</p>
				<a class='button' href="#">Заказать</a>
			</div>
		</div>
	</div>
</section>