<section class="bottom-drops top-bottom">
	<img class='bottom-drops__top-bg' src="img/bg-9-top.png" alt="">		
	<div class='container top-bottom-contain'>
		<img class='top-bottom__girl bottom-drops__girl' src="img/sect9-girl.png" alt="foto girl">
		<img class='top-bottom__boy bottom-drops__boy' src="img/sect9-boy.png" alt="foto boy">		
		<img class='top-bottom__boy bottom-drops__boy-mobile' src="img/sect1-boy.png" alt="foto boy">		
		<div class="top-bottom-content col-lg-8 col-md-10 col-sm-12">			
			<div class='top-bottom-content-left'>
				<h5>NikoStop Antistress</h5>
				<h2 class='title top-bottom-content__h2'>Drops for easy quitting smoking</h2>
				<ul class='top-bottom-content-list'>
					<li class='top-bottom-content-list__item'>Полное избавление<br> от курения за 1 курс</li>
					<li class='top-bottom-content-list__item'>Без стресса, гнева<br>  и раздражения </li>
					<li class='top-bottom-content-list__item top-bottom-content-list__item_none'>Даже для самых заядлых курильщиков</li>
				</ul>				
			</div>
			<div class="top-bottom-content-right">
			<div class='top-bottom-content__qt'>
				Осталось упаковок<span> по акции</span>
				<div class="top-bottom-content__counter">17</div>
			</div>
				<div class='block-form'>
					<div class="block-form__in">
						<h4 class='block-form__title'>Start a free life now!</h4>
						<div class="block-form__price">
							<span class="al-cost">$50</span>
							<span class="al-cost-promo">$25</span>
						</div>
						<form id='order' action="/land/order" class="block-form__form al-form" method='post'>
							<select name="country" class="al-country"> </select>
					        <input type="text" name="name" placeholder="Name">
					        <input type="tel" name="phone" placeholder="Phone Number">
					        <button class='button js-btn' type="submit">Заказать ></button>
						</form>
						<div class='block-form__bottom-img'></div>	
					</div>
				</div>
			</div>			
		</div>	
		<div class='top-bottom-product'>
			<a class='top-bottom-product__link js-scroll' href="#guarant">Guarantee</a>
		</div>	
	</div>
	<div class='bottom-drops__bottom-bg'>	</div>
</section>