<section class="effect">
	<div class="container effect-contain">
		<img class="effect-girl" src="img/sect5-girl.png" alt="girl" >
		<div class="col-lg-9 col-md-10 col-lg-offset-3 col-md-offset-2">
			<h2 class="title">What effect will I get?</h2>
			<ul class="effect-list">
				<li class="effect-list__item">Устранение симптомов отмены курения</li>
				<li class="effect-list__item">Очищение организма от никотина и смол</li>	
				<li class="effect-list__item">Повышение работоспособности, концентрации внимания</li>
				<li class="effect-list__item">Здоровый сон и восстановление организма</li>
				<li class="effect-list__item sect1-content-list__item_none">Закрепление новой привычки не-курить</li>
			</ul>
			<div class="effect-tape">Отказаться от куренияе с НикоСтоп - просто!</div>
		</div>
		<img class="effect-product" src="img/sect5-product.png" alt="product" >
		<a class="js-scroll button" href="#order">Заказать <i class="button__ico-animete"></i><i class="button__ico"></i></a>
	</div>
</section>	