<section class="expert" id="expert">
	<div class="container expert-contain">
		<h2 class="title col-md-offset-3">Experts recommend</h2>
		<div class="expert-block col-md-12">
			<img class="expert-block__img" src="img/sect6-boy.png" alt="foto expert">
			<div class="row">
				<div class="expert-block__form col-lg-3 col-md-3 col-sm-5">
					<div class="block-form">
						<div class="block-form__in">
							<h4 class="block-form__title">Start a free life now!</h4>
							<div class="block-form__price">
								<span class="al-cost">$50</span>
								<span class="al-cost-promo">$25</span>
							</div>
							<form action="/land/order" class="block-form__form al-form" method="post">
								<select name="country" class="al-country"> </select>
								<div class="block-form-wraper">
						       		 <input type="text" name="name" id="name1" placeholder="Name">
						       		 <label for="name1"></label>
						       	</div>
						       	<div class="block-form-wraper">
						        	<input type="tel" name="phone" id='phone1' placeholder="Phone Number">
						        	<label for="phone1"></label>
						        </div>	
						        <button class="button" type="submit">Заказать <i class="button__ico-animete"></i><i class="button__ico"></i></button>
							</form>
							<div class="block-form__bottom-img"></div>	
						</div>
					</div>
				</div>
				<div class="expert-block__text col-md-6 col-sm-7">					
					<div class="expert-block-wrap">
						<p>
							Никотиновая зависимость требует комплексного и крайне индивидуального подхода.
						</p>
						<p>
							Очень часто чисто фармацевтического лечения не достаточно. Потому что курение интегрируется в жизнь человека. Курение ассоциируется для человека с приятными вещами в его жизни: отдыхом, развлечениями, сексом. И когда уходит курение - из жизни человека уходит радость.
						</p>
						<p>
							Именно поэтому я рекомендую своим пациентам капли NikoStop. Благодаря оптимально подобранным компонентам процесс освобождения и формирования новых нейронных связей проходит безболезненно и комфортно.
						 </p>
						<p >
							Проявления абстинентного синдрома при приеме капель НикоСтоп фактически отсутствуют. Именно поэтому я рекомендую его всем своим пациентам.
						</p>						
					</div>	
					<p class="autor">
						<span class="autor__name">Ковальский Ю. Б.</span>
						Ведущий эксперт Международного центра <br>по лечению табачной зависимости
					</p>				
					<div class="table-visible">						
						<p >
							Проявления абстинентного синдрома при приеме капель НикоСтоп фактически отсутствуют. Именно поэтому я рекомендую его всем своим пациентам.								
						</p>
						<a href="#" class="btn-expand">Подробнее</a>
					</div>
				</div>
			</div>
			<a class="js-scroll button" href="#order">Заказать <i class="button__ico-animete"></i><i class="button__ico"></i></a>
		</div>
	</div>
</section>	
