<section class="guarantee">
	<div class='container guarantee-contain'>
		<h2 class='title'>
			Others promise — <br>
			<span class="uppercase">we</span> give a <span class="uppercase">guarantee</span>
		</h2>
		<div class="guarantee-block col-md-12">
			<div class="guarantee-block__img ">
				<img src="img/sect8-product.png">
			</div>
			<div class="guarantee-block__text col-md-7">
				<p>
					Мы уверены в качестве нашего продукта! И мы не разбрасываемся пустыми обещаниями. Если в течение 30 дней капли NikoStop вам не помогут, мы вернем вам деньги. 
				</p>
				<a href='#'>Детальнее о условиях возврата</a>	
			</div>
			<div class="guarantee-block-tape">
				<div class="guarantee-block-tape__item"></div>							
			</div>
			<button class='button'><a href="#">Заказать ></a></button>
		</div>
	</div>
</section>