<header>
	<nav class="navbar">
		<div class="container navbar-contein">	
			<img class='navbar-logo col-sm-2' src="img/logo.png" alt="logo">
			<ul class="navbar-menu col-md-8 col-sm-7" id='fixed-nav'>
				<li><a class='is-active js-scroll' href="#why-not" '>Main page</a></li>
				<li><a class='js-scroll' href="#better"> Чем лучше? </a></li>
				<li><a class='js-scroll' href="#effective">Состав</a></li>
				<li><a class='js-scroll' href="#expert">Эксперт</a></li>
				<li><a class='js-scroll' href="#guarant">Гарантия</a></li>
			</ul>
			<div class="wrar-buttom col-sm-2">
				<a class='js-scroll' href="#order"><button class='button button_small'>Заказать ></button></a>
			</div>	
	</div>
	</nav>
</header>