<header>
	<nav class="navbar">
		<div class="container navbar-contein">	
			<img class='navbar-logo col-sm-2' src="img/logo.png" alt="logo">
			<ul class="navbar-menu col-sm-8 ">
				<li><a href="#" class='is-active'>Main page</a></li>
				<li><a href="#"> Чем лучше? </a></li>
				<li><a href="#">Состав</a></li>
				<li><a href="#">Эксперт</a></li>
				<li><a href="#">Гарантия</a></li>
			</ul>
			<div class="wrar-buttom col-sm-2">
				<button class='button button_small'>Заказать ></button>
			</div>	
	</div>
	</nav>
</header>