<div class="popup"> 
    <span class="btn-close popup__close"></span>     
	    <h2>Guaranty Terms and conditions</h2>
	    <span class="popup__line"></span>	
	    <div class="popup-content">	       
		     <p>
		     	Суть - ми говоримо що повертаємо гроші якщо краплі не допомогли покинути курити. Для цього ми просимо надати:
		     	</p> 
		     <ul>
			    <li>доказ проходження курсу </li>
			    <li>чек на покупку трьох упаковок Нікостоп Антистрес</li>
		     	<li>пусті три упаковки Нікостоп Антистрес</li>
		     	<li>флюрографія завірена лікуючим лікарем датована днем початку проходження курсу</li>
		     	<li>флюрографія завірена лікуючим лікарем датована днем закінчення проходження курсу</li>
		    </ul>
			<p>Заявку на повернення не пізніше 32-гого дня від дати покупки. Заявка містить:</p>
		     <ul>
		    	<li>повне Ім’я</li>
		   		<li>номер телефону</li>
		    	<li>номер страхового полісу</li>
		    	<li>адресу проживання</li>
		    	<li>номер квитанції про оплату</li>
		   	</ul> 	
		   	<p>
		   		Заключення ліцензованого лікаря про те, що легені не містять залишків куріння протягом останніх 30 днів
			</p>
		   	<p>
		   		Ми також попереджаємо що повертаємо гроші лише в тому випадку якщо протягом курсу людина не палила жодної цигарки і ми маємо докази кваліфікованого лікаря.
			</p>		  		
	</div>	
	<span class="popup__line"></span>	 
 </div>
<div id="overlay"></div>


