<div class='container sect7-contain'>
	<h2 class='title'>Reviews about NikoStop</h2>
	<div class="regular slider col-md-12">
    <div>
    	<div class='slick-slide__ava slick-slide__ava_1'><strong>Аркадий, (35 лет)</strong> отец 2 детей</div>
	      Я хочу быть хорошим примером для моих детей. Потому что нельзя рассказывать, что курение это плохо, а самому курить. Раньше я пять раз пытался бросить курить по книге Аллена Карра. Но все, что получал в итоге - раздражение, разочарование и презрение к себе. Я понимал, что курение вредно. Но ничего не мог с собой поделать. Руки дрожали, голова отказывалась работать. Я злился, раздражался, постоянно скандалил с женой. 
	      И снова начинал курить.
			А вот капли NikoStop помогли мне с первого раза. За
    </div>
    <div>
    	<div class='slick-slide__ava slick-slide__ava_2'><strong>Аркадий, (35 лет)</strong> отец 2 детей</div>
	      Я хочу быть хорошим примером для моих детей. Потому что нельзя рассказывать, что курение это плохо, а самому курить. Раньше я пять раз пытался бросить курить по книге Аллена Карра. Но все, что получал в итоге - раздражение, разочарование и презрение к себе. Я понимал, что курение вредно. Но ничего не мог с собой поделать. Руки дрожали, голова отказывалась работать. Я злился, раздражался, постоянно скандалил с женой. 
	      И снова начинал курить.
			А вот капли NikoStop помогли мне с первого раза. За 
    </div>
    <div>
    	<div class='slick-slide__ava slick-slide__ava_3'><strong>Аркадий, (35 лет)</strong> отец 2 детей</div>
	      Я хочу быть хорошим примером для моих детей. Потому что нельзя рассказывать, что курение это плохо, а самому курить. Раньше я пять раз пытался бросить курить по книге Аллена Карра. Но все, что получал в итоге - раздражение, разочарование и презрение к себе. Я понимал, что курение вредно. Но ничего не мог с собой поделать. Руки дрожали, голова отказывалась работать. Я злился, раздражался, постоянно скандалил с женой. 
	      И снова начинал курить.
			А вот капли NikoStop помогли мне с первого раза. За 
    </div>
    <div>
    	<div class='slick-slide__ava slick-slide__ava_4'><strong>Аркадий, (35 лет)</strong> отец 2 детей</div>
	      Я хочу быть хорошим примером для моих детей. Потому что нельзя рассказывать, что курение это плохо, а самому курить. Раньше я пять раз пытался бросить курить по книге Аллена Карра. Но все, что получал в итоге - раздражение, разочарование и презрение к себе. Я понимал, что курение вредно. Но ничего не мог с собой поделать. Руки дрожали, голова отказывалась работать. Я злился, раздражался, постоянно скандалил с женой. 
	      И снова начинал курить.
			А вот капли NikoStop помогли мне с первого раза. За 
    </div>
    <div>
    	<div class='slick-slide__ava slick-slide__ava_5'><strong>Аркадий, (35 лет)</strong> отец 2 детей</div>
	      Я хочу быть хорошим примером для моих детей. Потому что нельзя рассказывать, что курение это плохо, а самому курить. Раньше я пять раз пытался бросить курить по книге Аллена Карра. Но все, что получал в итоге - раздражение, разочарование и презрение к себе. Я понимал, что курение вредно. Но ничего не мог с собой поделать. Руки дрожали, голова отказывалась работать. Я злился, раздражался, постоянно скандалил с женой. 
	      И снова начинал курить.
			А вот капли NikoStop помогли мне с первого раза. За 
    </div>
    <div>
    	<div class='slick-slide__ava slick-slide__ava_6'><strong>Аркадий, (35 лет)</strong> отец 2 детей</div>
      Я хочу быть хорошим примером для моих детей. Потому что нельзя рассказывать, что курение это плохо, а самому курить. Раньше я пять раз пытался бросить курить по книге Аллена Карра. Но все, что получал в итоге - раздражение, разочарование и презрение к себе. Я понимал, что курение вредно. Но ничего не мог с собой поделать. Руки дрожали, голова отказывалась работать. Я злился, раздражался, постоянно скандалил с женой. 
      И снова начинал курить.
		А вот капли NikoStop помогли мне с первого раза. За 

    </div>
  </section>
</div>
