	<div class='container sect5-contain'>
		<img class="sect5-girl" src="img/sect5-girl.png" alt="girl" >
		<div class='col-md-9 col-md-offset-3'>
			<h2>What effect will I get?</h2>
			<ul class='sect5-list'>
				<li class='sect5-list__item'>Устранение симптомов отмены курения</li>
				<li class='sect5-list__item'>Очищение организма от никотина и смол</li>	
				<li class='sect5-list__item'>Повышение работоспособности, концентрации внимания</li>
				<li class='sect5-list__item'>Здоровый сон и восстановление организма</li>
				<li class='sect5-list__item sect1-content-list__item_none'>Закрепление новой привычки не-курить</li>
			</ul>
			<div class="sect5-tape">Отказаться от куренияе с НикоСтоп - просто!</div>
		</div>
		<img class="sect5-product" src="img/sect5-product.png" alt="product" >
		<button class='button' type="submit">Заказать ></button>
	</div>
	