	<div class='container sect1-9-contain'>
		<img class='sect1-9__girl sect1__girl' src="img/sect1-girl.png" alt="foto girl">
		<img class='sect1-9__boy sect1__boy' src="img/sect1-boy.png" alt="foto boy">		
		<div class="sect1-9-content col-md-8">			
			<div class='sect1-9-content-left'>
				<h5>NikoStop Antistress</h5>
				<h2 class='sect1-9-content__h2'>Drops for easy quitting smoking</h2>
				<ul class='sect1-9-content-list'>
					<li class='sect1-9-content-list__item'>Полное избавление<br> от курения за 1 курс</li>
					<li class='sect1-9-content-list__item'>Без стресса, гнева<br>  и раздражения </li>
					<li class='sect1-9-content-list__item sect1-9-content-list__item_none'>Даже для самых заядлых курильщиков</li>
				</ul>
				<span>
					Надежные и эффективные капли, которые помогают быстро и безболезненно перейти в NO-SMOKING режим
				</span>
			</div>
			<div class="sect1-9-content-right">
			<div class='sect1-9-content__qt'>
				Осталось упаковок<br> по акции
			</div>
				//=include form.html
			</div>			
		</div>	
		<div class='sect1-9-product'>
			<a class='sect1-9-product__link' href="#">Guarantee</a>
		</div>	
	</div>
	<img class='sect1-9__bottom-bg' src="img/bg-1-bottom2.png" alt="">		
