<header class="sect1">
	<div class='container sect1-contain'>
		<img  src='img/sect1-product.png' alt='product'>
		<div class="sect1-content col-md-8">
			<div class='sect1-content-left'>
				<h5>NikoStop Antistress</h5>
				<h2 class='sect1-content__h2'>Drops for easy quitting smoking</h2>
				<ul class='sect1-content-list'>
					<li class='sect1-content-list__item'>Полное избавление<br> от курения за 1 курс</li>
					<li class='sect1-content-list__item'>Без стресса, гнева<br>  и раздражения </li>
					<li class='sect1-content-list__item sect1-content-list__item_none'>Даже для самых заядлых курильщиков</li>
				</ul>
				<span>
					Надежные и эффективные капли, которые помогают быстро и безболезненно перейти в NO-SMOKING режим
				</span>
			</div>
			<div class="sect1-content-right">
			<div class='sect1-content__qt'>
				Осталось упаковок<br> по акции
			</div>
				//=include form.html
			</div>
			
		</div>		
	</div>
</header>
