<div class='container sect6-contain'>
	<h2 class='title col-md-offset-3'>Experts recommend</h2>
	<div class="sect6-block col-md-12">
		<img class='sect6-block__img' src="img/sect6-boy.png" alt="foto expert">
		<div class='row'>
			<div class='sect6-block__form col-lg-3 col-md-3'>
				//=include form.html
			</div>
			<div class="sect6-block__text col-md-6">
				<p>
					Никотиновая зависимость требует комплексного и крайне индивидуального подхода.
				</p>
				<p>
					Очень часто чисто фармацевтического лечения не достаточно. Потому что курение интегрируется в жизнь человека. Курение ассоциируется для человека с приятными вещами в его жизни: отдыхом, развлечениями, сексом. И когда уходит курение - из жизни человека уходит радость.
				</p>
				<p>
					Именно поэтому я рекомендую своим пациентам капли NikoStop. Благодаря оптимально подобранным компонентам процесс освобождения и формирования новых нейронных связей проходит безболезненно и комфортно.
				 </p>
				<p>
					Проявления абстинентного синдрома при приеме капель НикоСтоп фактически отсутствуют. Именно поэтому я рекомендую его всем своим пациентам.
				</p>
				<p class='autor'>
					<span class='autor__name'>Ковальский Ю. Б.</span>
					Ведущий эксперт Международного центра <br>по лечению табачной зависимости
				</p>
			</div>
		</div>
	</div>
</div>
