<section class="why-not">
	<div class='container why-not-contain'>
		<h2 class='title title_bordo col-md-5'>Why can not<br>I quit smoking?</h2>
		<ul class='why-not-list'>
			<li class="why-not__item why-not__item-1">Отчаяние</li>
			<li class="why-not__item why-not__item-2">Растерянность</li>
			<li class="why-not__item why-not__item-3">Страх</li>
			<li class="why-not__item why-not__item-4">Стресс</li>
			<li class="why-not__item why-not__item-5">Раздражение</li>
		</ul>
		<h2 class='title why-not__title_bottom'>So it was<br> before!</h2>
		<button class='button'><a href="#">Заказать ></a></button>
	</div>
</section>