/********************* section-9 *****************************/
.bottom-drops	
	&.top-bottom
		background-image: url("../img/bg-9-1.png") 
		background-position-y: 100%
		+r(991)
			background-size: 1139px
	&__top-bg
		position: absolute		
	&__girl
		left: 190px
		bottom: 80px
		+r(1199)
			left: 30px
			bottom: 150px
		+r(991)	
			display: none	
	&__boy
		left: -20px
		top: 25px
		+r(1199)
			left: -135px
		+r(991)
			width: 192px
			left: -50px	
			top: 160px
