/*********************expert-section*****************************/
.expert	
	min-height: 550px
	position: relative
	z-index: 10
	&-contain		
		height: 100%		
		position: relative	
		+r(767)
			margin-left: -7px
			margin-right: -7px
	&-block
		margin-top: 35px
		width: 100%
		height: 388px
		border: 2px solid #53cdfc
		background: url("../img/sect6-shadow.png") no-repeat right
		position: relative		
		+r(1199)
			margin-top: 50px
		+r(991)
			background-size: 212px
			background-position-y: top	
		+r(767)
			max-width: 400px
			min-width: 300px
			margin-left: auto
			margin-right: auto	
			background-size: 160px
		&::before
			position: absolute
			bottom: -15px
			right: 40px
			content: ''
			display: block
			background: url("../img/sect6-signature.png") 
			width: 153px
			height: 104px
			z-index: 10
			+r(991)
				top: 150px
				right: -10px
				background-size: 90%
				background-repeat: no-repeat
			+r(767)
				background-size: 68%
				top: 120px
				right: -40px
	
		&__img
			position: absolute
			bottom: 0
			right: 0
			+r(991)
				width: 225px
				top: -44px	
			+r(767)
				width: 180px			
		&__form
			margin-left: 15px
			margin-top: -45px
			height: 445px
			+r(991)
				margin-left: 0
			+r(767)
				display: none
		&__text
			padding-top: 27px
			padding-right: 40px
			+r(1199)
				padding-left: 50px
				padding-right: 50px
				font-size: 13px
			+r(991)
				position: relative	
				padding: 0
			+r(767)
				padding-left: 20px	
				padding-right: 20px	
			p
				padding-bottom: 10px
				+r(991)
					visibility: hidden
					
			.visible
				+r(991)
					visibility: visible		
					margin-top: 45px		
			.autor
				text-align: right
				+r(1199)
					padding-right: 50px
				+r(991)
					visibility: visible	
					position: absolute
					top: 85px
					left: 0
					width: 200px					
					padding-right: 0
					text-align: left
					font-weight: 600
				+r(767)					
					top: 40px
					left: 50%
					margin-left: -125px 
					font-size: 12px
					width: 130px
					
				&__name
					display: block
					+fs('Open Sans', 600)
					font-size: 19px					
					+r(767)
						font-size: 14px
						font-weight: bold
						width: 150px
	.btn-expand
		margin: auto
	.title
		+r(767)
		text-align: center	
	.btn-expand 
		display: none
		+r(991)
			display: block
