//*****************медали
%bg-i			
	background-image: url("../img/sect8-item.png")
	width: 171px
	height: 176px
	top: 50%
	transform: translateY(-50%)
	+r(1199)
		width: 130px
		height: 133px
		background-size: cover

	+r(991)
		width: 93px
		height: 96px
		background-size: cover
/************************** section-8 **************************/
.guarantee	
	min-height: 600px	
	background-position-x: 50%	
	background-repeat: no-repeat
	position: relative 
	margin-top: -45px
	+r(1199)
		margin-top: 0
	&-contain		
		height: 100%		
		position: relative	
		.uppercase	
			text-transform: uppercase
	&-block		
		height: 332px		
		background: url("../img/sect8-fon.jpg") no-repeat right
		position: relative
		margin-top: 15px
		+r(1199)
			background-size: 100%
		&__img
			position: absolute
			background: url('../img/sect8-block-fon.png') no-repeat 0 0, url('../img/sect8-product2.png') no-repeat 310px 15px
			right: 0px 
			top: -135px				
			width: 478px
			+r(1199)
				top: -90px		
			img
				margin-left: 140px
				margin-top: 0
				margin-right: 115px

		&__text
			padding-left: 35px
			padding-top: 35px
			padding-right: 75px
			font-size: 16px
			p
				margin-bottom: 30px
			a
				color: $color-text-h2
				+fs('Open Sans', 600)	
				text-decoration: underline
		&-tape
			background-image: url("../img/sect8-4.png")		
			width: 785px
			height: 97px
			position: absolute
			left: 0
			bottom: 15px
			+r(1199)
				width: 600px
				height: 75px
				background-size: 100%
				left: -10px
				bottom: 30px
			+r(991)
				width: 428px
				height: 54px
				background-size: 100%
				left: -5px
				bottom: 50px
			&__item
				position: absolute					
				@extend %bg-i
				+bgpos(-176px, 0)
				left: 250px	
				+r(1199)
					background-position-x: -132px	
					left: 180px	
				+r(991)
					background-position-x: -190px	
					left: 138px	
				&::before, &::after
					@extend %bg-i					
					position: absolute
					content: ''
					display: block
				&::before
					+bgpos(0, 0)
					left: -210px
					+r(1199)
						left: -160px			
					+r(991)
						left: -118px		
				&::after
					+bgpos(-350px, 0)		
					left: 210px
					+r(1199)
						background-position-x: -394px
						left: 160px	
					+r(991)
						background-position-x: -380px
						left: 118px			
	button 
		float: right
		margin-top: 240px
		margin-right: 65px	
		position: relative
		z-index: 10			