//*****************медали
%bg-i			
	background-image: url("../img/sect8-item.png")
	width: 171px
	height: 176px
	top: 50%
	transform: translateY(-50%)
	position: absolute
	+r(1199)
		width: 130px
		height: 133px
		background-size: cover
	+r(991)
		width: 93px
		height: 96px	
	+r(767)
		left: 15px		
/************************** guarantee-section **************************/
.guarantee	
	min-height: 600px	
	background-position-x: 50%	
	background-repeat: no-repeat
	position: relative 
	margin-top: -45px
	+r(1199)
		margin-top: 0
	&-contain		
		height: 100%		
		position: relative	
		+r(767)
			padding: 0 20px
		.uppercase	
			text-transform: uppercase
	h2
		+r(767)
			font-size: 34px
			max-width: 400px
			margin: auto 		
	&-block		
		height: 332px		
		background: url("../img/sect8-fon.jpg") no-repeat right
		position: relative
		margin-top: 15px
		+r(1199)
			background-size: 100%
		+r(991)
			height: 300px	
			max-width: 690px
			margin: 25px auto 0
			background-size: cover
			border-left: 2px solid #53cdfc
		+r(767)
			max-width: 400px	
		&__img
			position: absolute			
			right: 0px 
			top: -135px				
			width: 440px
			background: url('../img/sect8-block-fon.png') no-repeat
			+r(1199)
				top: -90px		
			+r(991)							
				background-size: 390px
				right: -65px
				top: -30px	
			+r(767)
				background: none	
				right: -280px						
			img				
				margin: 0 115px 0 140px
				position: relative
				z-index: 10
				+r(991)
					width: 190px
					margin-left: 105px			
				+r(767)
					margin-right: 0
					margin-left: 0
		&__text			
			padding: 35px 75px 0 35px
			font-size: 16px
			+r(991)				
				padding: 25px 355px 0 15px
			p
				margin-bottom: 30px
				+r(767)
					position: absolute
			a
				color: $color-text-h2
				+fs('Open Sans', 600)	
				text-decoration: underline
		&-tape
			background-image: url("../img/sect8-4.png")		
			width: 785px
			height: 97px
			position: absolute
			left: 0
			bottom: 15px
			+r(1199)
				width: 600px
				height: 75px
				background-size: 100%
				left: -10px
				bottom: 30px
			+r(991)
				width: 428px
				height: 54px				
				left: -9px
				bottom: 8px
			+r(767)
				background-image: url("../img/tape_767.png")
				width: 150px
				height: 195px
				top: 15px	
				z-index: 10
			&__item1								
				@extend %bg-i
				background-position: -176px, 0
				left: 252px	
				z-index: 2				
				+r(1199)
					background-position-x: -132px	
					left: 180px	
				+r(991)
					background-position-x: -190px	
					left: 138px														
			&__item3
				@extend %bg-i
				background-position: 0, 0					
				left: 45px
				z-index: 1	
				+r(1199)
					left: 30px			
				+r(991)
					left: 25px
				+r(767)					
					top: 30px								
			&__item2
				@extend %bg-i
				background-position: -350px, 0							
				left: 460px
				z-index: 3
				+r(1199)
					background-position-x: -394px
					left: 340px	
				+r(991)
					background-position-x: -380px
					left: 250px
				+r(767)					
					margin-top: 70px
									
	button 
		float: right
		margin: 240px 0 65px
		
		position: relative
		z-index: 10			
		+r(991)
			margin-top: 70px
			margin-right: 15px
