.sect1
	&__girl	
		left: 150px
		top: 60px
	&__boy	
		left: -45px
.sect1-9
	width: 100%
	height: 710px
	background-image: url("../img/bg-1.jpg") 
	background-color: #FFF
	background-position-x: 50%			
	background-repeat: no-repeat	
	position: relative
	overflow: hidden		
	&-contain		
		height: 100%		
		padding-top: 10px
		position: relative		
	&__bottom-bg
		bottom: 38px
		position: absolute	
		left: 0%	
	&__girl,	
	&__boy			
		position: absolute			
	&-content		
		float: right		
		&-left
			width: 450px
			float: left
			padding-top: 15px
			h5
				padding-bottom: 10px
			span
				margin-top: 20px
				display: inline-block				
				width: 265px
				float: right
				+ff('OpenSansLight')	
				padding-left: 45px	
				font-size: 16px	
				line-height: 1.3
		.block-form
			float: right
			margin-top: 22px			
			z-index: 0		
		&__qt
			text-align: right
			+ff('OpenSansRegular')
			font-size: 18px
			position: relative
			padding-right: 90px
			margin-top: 15px
			&::before
				width: 70px
				height: 60px
				background-image: url("../img/ico-sec1.png")
				content: ''
				display: block
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
			&::after
				content: '83'
				position: absolute
				+ff('RobotoLight')
				color: $color-text-h2
				font-size: 45px
				right: 3px
				top: 50%
				transform: translateY(-50%)
				letter-spacing: 5px
		&-list
			width: 265px
			float: right
			+ff('OpenSansSemibold')	
			font-size: 19px	
			padding-left: 45px
			margin-top: 20px	
			&__item
				position: relative
				padding-top: 17px
				padding-bottom: 17px
				&::before
					width: 24px
					height: 40px
					background-image: url("../img/ico1.png")
					content: ''
					display: block
					position: absolute
					left: -45px
					top: 50%
					transform: translateY(-50%)
				&::after
					width: 168px
					height: 1px
					background-image: url("../img/sect1-line.png")
					content: ''
					display: block
					position: absolute
					left: 50%
					top: 100%
					transform: translateX(-50%)	
				&_none::after
					display: none	
	&-product	
		position: absolute
		left: 170px
		bottom: 0	
		z-index: 10
		background: url('../img/sect1-prod.png')
		width: 878px
		height: 485px 
		&__link
			position: absolute
			bottom: 35px
			right: 200px
			@extend %tape
			font-size: 26px
			&::before, &::after
				display: block
				content: ''
				width: 90px
				height: 97px
				background-image: url("../img/flag.png")
				position: absolute
				top: 50%
				transform: translateY(-30%)
			&::before
				left: -105px
				z-index: 10	
			&::after
				background-position-x: 90px	
				left: -165px
