/********************* section-1 *****************************/
.top-drops	
	&__girl	
		left: 150px
		top: 60px
		+r(1199)
			left: 0px
		+r(991)	
			display: none
	&__boy	
		left: -45px
		+r(1199)
			left: -180px
		+r(991)
			width: 265px
			left: -50px	
			top: 150px
		+r(767)
			display: none	
@import top-bottom  